@import url("./intro.css");
@import url("./navbar.css");
@import url("./github-projects.css");
@import url("./contact.css");
:root {
  --mainColor: #e6f0f4;
  --secondaryColor: #fff;

  --borderColor: #ffc0cb;

  --mainText: black;
  --secondaryText: #4b5156;

  --link: #17a2b8;
  --linkHover: #a13666;
  --header: #005b8b;

  --headerFont: "Dosis";
  --textFont: "Montserrat";

  --buttonColor: #17a2b8;

  --defaultShadow: 23px 23px 34px #b8b8b8, -23px -23px 34px #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--textFont);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: var(--headerFont);
}

p,
li,
span,
input,
textarea {
  color: var(--secondaryText);
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--linkHover);
}

ul {
  list-style: none;
}
.s1 {
  margin: 2em;
  margin-top: 8em;
  padding: 3em;
  background-color: var(--secondaryColor);
  overflow: auto;
  box-shadow: var(--defaultShadow);
}

.s2 {
  margin: 2em;
  padding: 3em;
  background-color: var(--mainColor);
  overflow: auto;
  box-shadow: var(--defaultShadow);
}

.s3 {
  margin: 2em;
  padding: 3em;
  background-color: var(--mainColor);
  overflow: auto;
  background: #ffffff;
  box-shadow: var(--defaultShadow);
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  /* padding: 5em; */
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  #profile-pic {
    margin: 0;
    height: 150px;
    width: 150px;
  }
}
