.intro-wrapper {
  background-color: var(--mainColor);
  /* border: 1px solid var(--borderColor); */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
  padding: 30px 30px 60px 30px;
}

.left-column {
  grid-area: left-column;
}

.left-column {
  background-image: url(../public/photo.jpeg) no-repeat;
  /* width: 200px;
  height: 200px; */
}

#profile-pic {
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.right-column {
  grid-area: right-column;
  line-height: 150%;
  font-size: 1.2rem;
}
